* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(245, 248, 249);
}
a {
  text-decoration: none;
}
.btn {
  font-weight: 500;
}
header {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.2rem 1rem 0px;
  width: 100%;
}
/* navbar */
.nav__btn {
  background-color: #fd9e01 !important;
}
.nav__btn:hover {
  color: white;
  transition: all 0.6s;
}

.nav__btn--hover:hover {
  background-color: #fd9e01 !important;
  color: white;
}
.nav__link {
  color: black;
  font-weight: 500;
  position: relative;
}
.nav__link:hover {
  color: #fd9e01;
}
.nav__link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 4px;
  width: 10px;
  border-radius: 50%;
  background-color: #fd9e01;
}

/* main */

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}/*car description*/

.overlay {
  background: rgb(0 0 0 / 55%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1030;
}
.main {
  padding: 50px 0;
}
.filter-header {
  font-weight: bold;
  font-size: 30px;
}
input[type=checkbox]{
  accent-color: #fd9e01;
}
.filter-title {
  font-weight: 700;
  font-size: 12px;
  color: #fd9e01;
  line-height: 18px;
  padding-bottom: 14px;
  margin-bottom: 15px;
}
.filter-options {
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}
.filter-options::-webkit-scrollbar {
  width: 8px; /* scrollbar genişliği */
}
.filter-options::-webkit-scrollbar-thumb {
  background-color: #555; /* scrollbar rengi hover durumunda */
  border-radius: 0.5rem;
}

/* Scroll track (kaydırma arka planı) */
.filter-options::-webkit-scrollbar-track {
  background: #f1f1f1; /* scrollbar arka plan rengi */
}

.title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}
.card {
  width: 310px;
}

.sidebar__inner {
  background-color: rgb(255, 255, 255);
  border-radius: 0.4rem;
  /* border: 1px solid black; */
  padding: 1rem;
  box-shadow: none;
  position: relative;
  display: flex;
  font-size: 14px;
  flex: 1 1 auto;
  /* width: 100%; */
  box-sizing: inherit;
}
.sidebar {
  width: 20%;
}
.filter-body {
  width: 100%;
}

/* footer  */
.footer_area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
  padding: 60px;
}
.footer_area .row {
  margin-left: -25px;
  margin-right: -25px;
}
.custom-padding {
  padding-right: 25px;
  padding-left: 25px;
}

.single-footer {
  position: relative;
  z-index: 1;
}
.single-footer .copywrite-text a {
  color: #747794;
  font-size: 1rem;
}
.single-footer .copywrite-text a:hover,
.single-footer .copywrite-text a:focus {
  color: white;
}
.single-footer .footer_title {
  margin-bottom: 1.5rem;
}
.single-footer .footer_menu li a {
  color: #747794;
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}
.single-footer .footer_menu li a:hover,
.single-footer .footer_menu li a:focus {
  color: white;
}
.single-footer .footer_menu li:last-child a {
  margin-bottom: 0;
}

.footer_social_area {
  position: relative;
  z-index: 1;
}
.footer_area a {
  text-decoration: none;
}
.footer_area a:hover {
  color: #fd9e01 !important;
}
.footer_social_area a {
  border-radius: 50%;
  height: 40px;
  text-align: center;
  width: 40px;
  display: inline-block;
  /* background-color: #f5f5ff; */
  line-height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 10px;
  background-color: #121a21;
}
.footer_social_area a i {
  line-height: 36px;
  color: white;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
  background-color: #fd9e01;
}


@keyframes bi-cycle {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
ol li,
ul li {
  list-style: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}






@media screen and (max-width: 350px) {
  .navs {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1100px) {
  .card {
    width: 28%;
  }
}
@media screen and (min-width: 1369px) {
  .card {
    width: 30%;
  }
}
@media screen and (max-width: 992px) {
  .filters-actions {
    position: fixed;
    background: #fff;
    display: flex;
    justify-content: center;
    border: 0;
    bottom: 0;
    z-index: 1031;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px -2px 3px rgb(0 0 0 / 21%);
    -webkit-box-shadow: 0px -2px 3px rgb(0 0 0 / 21%);
    -moz-box-shadow: 0px -2px 3px rgb(0 0 0 / 21%);
    height: 50px;
  }
  .filters-actions > div {
    flex: 1;
    text-align: center;
  }
  .filters-actions > div:first-of-type {
    border-right: 1px solid #d6d1ce;
  }
  .filters-actions > div > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  /*.no-border-select.sort-select + .select2-container--default .select2-selection--single{
      background-image: none;
      padding:10px;
    }*/
  .filter-btn,
  .filter-btn:hover,
  .filter-btn:focus,
  .filter-btn:active {
    padding: 14px 20px;
    height: 50px;
    border: 0;
    position: relative;
    z-index: 1;
    background: #fff;
    border-radius: 0;
  }

  .sidebar {
    position: fixed;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #fff;
  }
  .sidebar.open {
    z-index: 1032;
    transform: translateY(0);
    width: 100%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .sidebar__inner {
    padding: 15px;
    height: calc(100% - 58px);
    overflow-y: auto;
  }
  .filter-header {
    height: 58px;
  }
  .filter-body {
    padding-right: 0;
  }
}















